container_commands:
    00_key_generate:
        command: "php artisan key:generate"
    01_drop_tables:
        command: "php artisan migrate:fresh"
    02_initdb:
        command: "php artisan migrate"
option_settings:
  - option_name: GOOGLE_URL
    value: placeholder
  - option_name: MAIL_USERNAME
    value: placeholder
  - option_name: MAIL_PASSWORD
    value: placeholder
commands:
  create_post_dir:
    command: "mkdir /opt/elasticbeanstalk/hooks/appdeploy/post"
    ignoreErrors: true
files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/job_after_deploy.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      source /opt/elasticbeanstalk/support/envvars
      # Run PHP scripts here. #
